body{
font-family:'mono';
background-color:#EDEDED;
padding: 10px;
}

h1 { 
font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
margin:0px; padding-left:20px; color:#73879c;}

#panel{
padding:30px;
margin:10px;
background-color:#FFF;
float:left;
border:1px solid #e6e9ed;
}

#panel>span{
font-size:24px;
color:#73879c;
font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
display:block;
border-bottom:2px solid #e6e9ed;
}


#clients {
/*width: 550px;*/
}

#clients ul{
width: 500px;
padding:0px;
}

#clients button{
}

#clients ul li{
background-color: #1ABC9C;
display:block;
/*border-radius: 5px;*/
margin:2px;
padding: 0px 10px 0px 10px;
}

#clients ul li span{
padding: 2px;
}

#clients ul li img{
width:19px;
height:auto;
float: right;
}

#clients ul li.desconeguts {background-color: #9CC2CB;}
#clients ul li.off {background-color: #E74C3C;}

#clients ul li.servers {background-color: #2B2B2B; color:#eee;}
#clients ul li.profe {background-color: #3498DB;}

#actual{
font-size:8px;
clear:both;
padding:10px;
margin:10px;
background-color:#DBFFFD;
border:1px solid #e6e9ed;
}


#actual span{
font-size:10px;
background-color: #2c2c2c;
display:block;
color:#eee;
margin:2px;
padding: 0px 10px 0px 10px;
width: 300px;


}

#accions{
padding:0px;
margin:10px;
background-color:#FFF;
float:left;
border:1px solid #e6e9ed;
}

#accions span.accio{
background-color: #2A3F54;
display:block;
color:#eee;
padding: 0px 10px 0px 10px;
border-bottom:1px solid #1F2F3F;
border-top:1px solid #536271;
font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
} 

/*https://colorlib.com/polygon/gentelella/index.html*/
